/*------------------------BARRA DE BUSQUEDA ----------------------------------*/
.barra-top{
  overflow: hidden;
}

.logo{
  width: 15%;
  float: left;
}
.logo img{
  width: 100%;
}

.barra-busqueda {
  padding: 3%;
  width: 64%;
  float: left;
}

.barra-busqueda form .contenedor-formulario{

  width: 100%;
}

.barra-busqueda form .contenedor-formulario .form-search{
  width: 70%;
}

.barra-busqueda form .contenedor-formulario .botonSearch{
  width: 18%;
}

.barra-busqueda form .contenedor-formulario .botonSearch img{
  width: 100%;
}

.carrito{
  width: 15%;
  float: left;
}
