/*----------------------------------------------ESTILO DE PRODUCTO------------------------------*/
.cuerpo {
  overflow: hidden;
  font-family: Catamaran,sans-serif;
}

.imagen {
  float: left;
  border-style: inset;
  width: 40%;
}

.datos{
  position: relative;
  float: right;
  width: 50%;
}

.datos h2, h6, h3{
  text-align: center;
}

.datos p{
  text-align: left;
}

.btn-comprar{
  float: right;
  position: absolute;
  right: 40%;
}
.datos h2,
h6{
  font-family: Raleway,sans-serif;
}

.photo {
  width: 100%;
}

/*----------------------------------------------ESTILO DE CATALOGO--------------------------------------------*/

.cuerpo{
  overflow: hidden;
  font-family: Catamaran,sans-serif;
}
.navegador{
  float: left;
  border-style: solid;
  border-color: #434343;
  border-right: solid;
  font-family: Catamaran,sans-serif;
  margin: 2%;
}
.navegador li{
  font-size: 12px;
}
.menu li a:hover{
  background-color:red;
}
.menu li ul{
  list-style: none;
}
.catalogo-productos{
  float: right;
  overflow: hidden;
  padding: 1%;
  text-align: justify;

}

.catalogo-productos article{
  
  float: right;
  background-image:  url('../images/logo1.png');
  background-repeat: no-repeat; /* Do not repeat the image */
   background-position: center;
}

.catalogo-productos :hover{
  background: #f1f2dd;
}
.product .foto{
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
}


.product a, h3, p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h5{
  font-family: Catamaran,sans-serif;
}
