/*------------------------BARRA DE BUSQUEDA ----------------------------------*/
.barra{
  background-color: rgba(200, 240, 5, 0.3);
}

.container{
  overflow: hidden;
}

.logo{
  /*width: 15%;*/
  float: left;
}



.logo img{
  width: 100%;
}

.barraDeBusqueda{

  float: right;
}

.barraDeBusqueda img{
  width: 100%;
}
/*
.barraDeBusqueda button{
  position: absolute;
  right: 9%;
  width: 15%;
}
*/

.barraDeBusqueda button{
  position: absolute;
  width: 15%;
  right: -14px;
}
/*
.barra-busqueda form .contenedor-formulario .form-search{
  width: 70%;
}

.barra-busqueda form .contenedor-formulario .botonSearch{
  width: 18%;
}

.barra-busqueda form .contenedor-formulario .botonSearch img{
  width: 100%;
}
*/
.carrito{
/*  width: 15%;*/

/*  float: left;
*/
}

.carrito img{
  width: 100%;
}


@media query (min-width:320px)and (max-width:480) {
  .barraDeBusqueda img{
    width: 100%;
  }

  .barraDeBusqueda button{
    position: absolute;
    right: 12%;
    width: 36%;
    right: -30px;
  }
}
/*
@media query (min-width:320px)and (max-width:480) {

}*/
