/*-----------------------------------------HEADER-------------------------------*/

/*------------------------------------------Producto Update----------------------*/
.contenedor-form-up{
  overflow: hidden;
}
/*
.form-group, .form-check{
  float: right;
}
*/
.en-oferta{
  border-style: solid;
  border-color: black;
}


/*-----------------------------barraDeBusqueda con ubicacion y telefono--------*/
.contactBar{

  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgba(215,214,211,0.3);
  height: 6vh;
  z-index: 3;
}
.contactBar  .elementos {
  margin-top: 10px;
  margin-left: 5px;
  overflow: hidden;
  display: flex;
  position: absolute;
  width: 50%;
  font-size: 0.8em;
}

.ubicacion, .telefono{
  float: left;
}

.contactBar .elementos .ubicacion a{

  color: black;
}
.contactBar .red-social{
  padding-left: 10%;
  margin: 1px;
  width: 50%;
  float: right;
}

.contactBar .red-social img {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #fece18;
}



/*---------------------------------------------------CATALOGO-------------------------------------*/
/*-------------------------------------------------BANNERS DE Catalogo-----------------------------------------*/

.banner-catalogo-principal{
  width:100%;
  height: 30vh;
  background-image:   url('../images/baner1.jpg');
  background-size:cover;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position:center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.banner-catalogo-izquierda img{
  float: left;
  margin-top: 10%;
  width: 100%;
}



/*----------------------------------------------ESTILO DE CATALOGO--------------------------------------------*/

.catalogo-productos{


  overflow: hidden;
  padding: 1%;
  text-align: justify;

}

.catalogo-productos article{
  float: right;

}

.catalogo-productos :hover{
  background: #dde4f2;
}
.product .foto{
  border-color: black;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.product {
 width: 95%;
}

.product a, h3, p{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h5{
  font-family: Catamaran,sans-serif;
}


.numeradorPaginas{
  margin: 2%;
  width: 100%;
}

/*----------------------------------FIN PRESENTACION DEL CATALOGO---------------------------------*/


/*----------------------------barra de filtro----------------------------------*/
.filtro-de-pagina {
  font-family: Open Sans Condensed;
  font-size: 1.2em;
  margin: 3px 0 12px;
  overflow: hidden;
  background: #F7F7F7;
  padding: 5px;
  border: 1px solid #E6E6E6;
  width: 98.9%;
}
.filtro-de-pagina .orden-producto{
  padding-left: 1%;
  padding: 5px 8px 3px 8px;
  float: left;

}
.filtro-de-pagina .pagina {
  padding: 5px 8px 3px 8px;
  float: right;

}

.filtro-de-pagina .mostrar{
  float: left;
  padding-left: 12%;

}
.filtro-de-pagina {
  width:98.8%;
}

.filtro-de-pagina .orden-producto .orden-producto-por{
  color: #555;
  font-size: 0.8125em;
}

.filtro-de-pagina .orden-producto .orden-producto-por select{
  padding: 0;
  margin: 0 0 1px;
  vertical-align: middle;
}

.pagina .limite {
  float: left;
  color: #555;
  font-size: 0.8125em;
}

.pagina .limite select {
  padding: 0;
  margin: 0 0 1px;
  vertical-align: middle;
}

.pagina .limite label {
  color:#555;
  font-size:0.8125em;
}


/*----------------------------------------presentacion del producto ------------------------------*/
.card_1{
  /*display: block;*/
  /*float: left;*/
  margin: 1% 0 1% 3.6%;
  /*width: 95%;
  /*border:1px solid red;*/
}

.card_1 a{
  text-decoration: none;}
  .marco {
    background-image:  url('../images/circulo-amarillo.png');
    background-size:contain;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position:center;
  }
  .box_product p{
    color:black;
  }

  .product{
    padding:2%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .product h3{

    color:#FECE18;
    font-size:0.9em;
    text-transform:uppercase;
    font-weight:500;
  }

  .marco{
    color:#555;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
    height: 46vh;
  }

  .contenedor_imagen img{
    width: 100%;
  }


  .precio_producto{
    color:#555;
    font-size:1.2em;
    font-weight:700;
  }

  .puntuacion{
    overflow: hidden;
    display: block;
    padding: 2.1% 1%;
    font-size: 0.85em;
    color: #000;
    float: left;
    width: 62.5%;
  }


  .puntuacion label :hover{
    background: #D5D5D5;
  }
  /*--------------------------------------------------------PUNTUACION DE PRODUCTO -----------------------*/
  .rating-input {
    position: absolute;
    top: -50px;
  }

  .rating-star1 {

    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/b_star.png') -6px -3px;

    float: left;
  }
  .rating-star1:hover {
    background: url('../images/b_star.png') -6px -20px;
  }

  .rating-star2 {

    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/b_star.png') -6px -20px;

    float: left;
  }


  /*----------------------------------------AÑADIR AL CARRITO------------------------------------------------------*/
  .add_bag{

    float:left;
    width: 28.5%;
    padding: 0.2% 0;
    text-align: right;
    align-items: right;
  }

  .add_bag a{
    color: black;
  }

  .add_bag img{
    width: 50%;
  }



  /*-----------------------------------------------------NAVAR FILTER-----------------------------------*/


  .navFilter{
    width: 100%;

    display: block;
    float: left;

  }


  .categoria{

    font-family: Open Sans Condensed;
    display: block;
  }
.box-categoria{

  background-color: #F7F7F7;
  margin: 1%;
}
  .categoria h4 button{
    font-size: 1em;
    text-align:left;
    width: 100%;
    color: #555;
    text-transform: uppercase;

  }

  .categoria h4 button:hover{
        text-decoration: none;
        color: #fece18;
  }

  .ultimo .checkbox{
    font-family: Open Sans Condensed;
    padding-left: 15%;
    padding-bottom: 3%
    font-size: 0.9em;
    cursor: pointer;
    display: block;
  }
  .boton-categorias{
    padding: 0;
    background-color: #dde4f2;

  }

  .contenedor_boton_filter {
    background-color: #FFD717;
    border: none;
    width: 100%;
    text-decoration: none;
    text-align: center;
  }

  .contenedor_boton_filter a{
    text-decoration: none;
    color:black;}


    /*-------------------------------------------------------FIN CATALOGO---------------------------*/

    /*-----------------------------------------------NAVBAR--------------------------------------------*/



    .contenedor{
      z-index: 3;
      height: 10vh;
      font-family: Open Sans Condensed;
      list-style: none;
      color: back;

    }

    .panel{

        background-color: white;
          font-family: Open Sans Condensed;
          float: right;
    }

  .panelCentral a{

    font-family: Open Sans Condensed;
      font-size: 2em;
      color: black;
    }

    .contenedor .PanelIzquierdo a{

      color: rgb(125, 125, 125);
    }

    .panelCentral a:hover{
      color: #FECE18;
    }

    .logo{
      width: 100%;
      padding-left:5%;
      margin-right: 30%;
    }


    .panelCentral{
      margin-right: 5%;
      float: right;

    }
.total-bar{
  width: 100%;
}
    .PanelIzquierdo {
      padding-top: 1vh;

          font-family: Open Sans Condensed;
                font-size: 1em;
      width: 100%;
      display: flex;
      float: right;
    }

    .PanelIzquierdo .dropdown-menu .dropdown-item{
      z-index: 60;
    }


    .log-reg,.carrito,.searchBar{

      display: flex;
      float: left;
      padding: 1px;
    }



    .log-reg img,
    .carrito img {

      margin-right:6px;
    }



    /* CODIGO DE SEARCH NAVAR PARA FUTURAS MEJORAS
    .botonSearch img{
    width: 35%;
  }
  .searchBar{
  margin-top:1%;
}


*/


/*-----------------------------------------------PRODUCTO--------------------------------*/
/*-----------------------------------------------Producto Descripción-------------------------------------------------*/

.producto-unitario{
  overflow: hidden;
}

.imagen-producto {
  float: left;

}

.imagen-producto img{
  background-image:url('../images/circulo-amarillo.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
}


.descripcion-producto{
  margin-top: 15%;
  float: right;
}

.descripcion-producto .estrellas{
  width: 100%;
  height: 10vh;
}
.puntuacion{
  padding-top: 15%;
}
.puntuar{
  float: left;
}

.btn-punt{
  padding: 1%;
}
.descripcion{
  display:inline-grid;
}

.colorName,
.EstiloName,
.OrigenName{
  float: left;
}

.detalles{
  margin-top: 15%;
}
.detalles h6
{
  text-align: left;
}

.color,
.Origen,
.Estilo{
  float: right;}

  .cuentas{
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    overflow: hidden;
  }

  .cantidad{
    padding: 2%;
    float: left;
  }
  .cantidad .sumar-restar{
    padding-left:1%;
    padding-right: 1%;
    background-color: #fece18;

  }


  .cantidad .sumar-restar a,
  .boton-comprar a {
    color: black;
    text-decoration: none;
  }

  .precio-producto{
    font-size: 2em;
    float: left;
  }

  .boton-comprar {
    padding: 2%;
    margin: 2%;
    background-color: #fece18;
    width: 50%;
    text-align: center;
  }
  /*-------------------------------------FIN PRODUCTO--------------------------*/


  /*-----------------------------------------CARRITO---------------------------------*/
  .titulo-carrito{
    margin: 5%;
    font-family: Open Sans Condensed;
  }

  .articulo{
    width:80%;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-width: 1px;
    padding-bottom: 1%;
  }

  .eliminar-articulo{
  }
  .eliminar-imagen {
    padding-left: 5%;
    margin-top: 2%;
    float: right;
  }

  .eliminar-articulo img{
    height: 2vh;
  }

  .imagen-articulo{
    background-image: url('../images/circulo-amarillo.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    float: left;
  }

  .imagen-articulo img{
    width: 100%;

  }
  .descripcion-articulo{
    padding-top: 7%;
    float: left;
  }
  .cantidad-articulo{
    padding-top: 13%;
    float: left;
  }

  .cantidad-articulo .sumar-restar-articulo{

    padding-left:1%;
    padding-right: 1%;
    background-color: #fece18;
  }

  .cantidad-articulo .sumar-restar-articulo a{
    padding: 1%;
    color: black;
    text-decoration: none;
  }

  .cantidad-articulo label{
    font-size: 1.5em;
    text-align: center;
    width: 40%;
  }

  .cantidad-articulo .sumar-restar-cantidad{
    padding-top: 1%;
  }

  .precio-articulo{
    font-size: 2em;
    text-align: right;
    padding-top: 12%;
    float: left;
  }

  .vaciar-carrito{

    float: left;
    margin-top: 1%;
  }

  .vaciar-carrito  a{
    color: #FECE18;
    text-decoration: none;
  }

  .costoTotal{
    margin-top: 5%;
    width: 30%;
    font-size: 2em;
    text-align: right;
    float: left;
  }


  .boton-realizar-compra{
    width: 80%;

  }

  .boton-realizar-compra a{

    text-align: center;
    color: black;
    text-decoration: none;
  }

  .click
  {      margin-bottom: 10%;
    float: right;
    width: 30%;
    padding: 2%;
    margin-top: 5%;
    background-color: #fece18;
  }
  /*----------------------------------------------------FIN CARRITO DE COMPRAS -------------------------------*/


  /*-------------------------------------------------------------HOME ---------------------------------*/


  /*-------------------------------------------------slide----------------------------------------*/
  .slidebar  {
    margin: 1px;
    height: 100vh;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(254, 206, 24, 0.5);
    border-bottom-color: rgba(254, 206, 24, 0.5);
  }

  .d-block{
    height: 100vh;

  }

  .cover-container .container {
    height: 50vh;

  }
  .container{
    position: relative;
  }

  .cabecera
  {position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 5;

  }
/*-----------------------------------------------------------PERFIL----------------------------------------*/
.cont-perfil{


}


.navPerfil{

  margin-top:5%;
  height: 70vh;
  margin-left: 20%;
  width: 60%;
}

.avatarImg{
  /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.imagen-Perfil{
    margin-top:3%;
    margin-bottom: 4%;
    margin-left: 32%;
}


.contenedor-datos-perfil{
  float: right;
}

.datos{
  font-family: Open Sans Condensed;
  overflow: hidden;
  padding: 20px;
}

.datos h4{font-weight: bold;
  padding-left: 2%
}

.datos .box-p {
    overflow: hidden;
    margin: 2%;
    border-radius: 10px;
    border: 2  px solid #e7e6e2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.datos .box-p .id-d{
  padding: 1%;
  overflow: hidden;
  border: 0.1px solid #e7e6e2;

}
.id-dato-der{
  color: #c4c3c2;
  width: 47%;
  float: left;
}

.edit {
  float: right;
  width: 3%;

}


.edit img{
  width: 100%;
}
.id-dato-iz{
  color:#858584;
  width: 40%;
  float: left;
}

/*------------------------------------------------------------------------FOOTER---------------------------*/
.contenedor-footer{
  font-family: Open Sans Condensed;
  color: white;
  overflow: hidden;
  background-color: #21160A;
  width: 100%;
}

.logoFooter .logImgFoot{
  margin-left: 10%;
}


.logoFooter .elementos .telefono{
  margin-right: 3%;
}

.masBuscadas, .envioInfo, .logoFooter{

  text-align: left;
  padding:2%;
  float: left;
  list-style-type:none;
}

.masBuscadas{
  padding-left: 5%;
}
.envioInfo{
  padding: 4%;
}
.masBuscadas ul{
 list-style-type: none;
}

.masBuscadas ul li a{
  color: white;
}

.logoFooter{

padding-left:  10%;
}

/*----------------------------------------------------------LOGIN REGISTER-------------------------*/

.loginContanier, .registerContainer{
  height:60vh;
}
/*-----------------------------------------------------------------REGISTER ----------------------------*/


.containerRegister{
  height: 60vh;
}
  /*-------------------------------------------------------------------------------------------------------*/
